/* ===========================
   LAYOUT PARA TABLETS
=========================== */
@media (min-width: 769px) and (max-width: 1024px) {
    #allplaces {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    
    #menu-toggle {
      display: none;
    }
    
    nav ul {
      display: flex;
    }
  }