/* Reset básico para remover margens e paddings padrão e garantir que o box-sizing seja consistente */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
	font-family: "Sansita", sans-serif; /* Define a fonte padrão */
}

/* Estilos para o cabeçalho */
header {
	background-color: #3B6E98; /* Cor de fundo do cabeçalho */
	display: flex; /* Usa flexbox para alinhar os itens */
	align-items: center; /* Centraliza os itens verticalmente */
	justify-content: center; /* Centraliza os itens horizontalmente */
	padding: 20px; /* Espaçamento interno */
	border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil */
	font-family: "Poppins", sans-serif; /* Define a fonte do cabeçalho */
	font-weight: 700; /* Peso da fonte */
	font-size: 2rem; /* Tamanho da fonte */
	color: white; /* Cor do texto */
	position: relative; /* Define posicionamento relativo */
}

/* Estilos para a imagem no cabeçalho */
img {
	border-radius: 3px; /* Bordas levemente arredondadas */
	margin-right: 20px; /* Margem à direita para separar do texto */
}

/* Estilos para elementos com a classe .text */
.text {
	background-color: white; /* Cor de fundo branca */
}

/* Estilos para o cabeçalho e o conteúdo principal */
header,
main {
	margin: 0 auto; /* Centraliza o cabeçalho e o main */
}

/* Estilos para a navegação */
.navigation {
	list-style: none; /* Remove os marcadores de lista */
	margin: 0 auto; /* Centraliza a navegação */
	max-width: 760px; /* Largura máxima */
	display: flex; /* Usa flexbox para alinhar os itens */
	justify-content: space-around; /* Distribui o espaço entre os itens */
	align-items: center; /* Centraliza os itens verticalmente */
	gap: 20px; /* Espaçamento entre os itens */
}

/* Esconde o botão de hambúrguer em telas maiores */
#menu-toggle {
  display: none; /* Escondido por padrão */
}

/* Estilos para os links da navegação */
.navigation a {
	display: block; /* Transforma os links em blocos */
	padding: 0.75rem; /* Espaçamento interno */
	text-align: left; /* Alinha o texto à esquerda */
	text-decoration: none; /* Remove o sublinhado */
	color: white; /* Cor do texto */
	font-weight: 700; /* Peso da fonte */
	transition: 0.5s; /* Transição suave para hover */
	font-size: clamp(1rem, 2vmin, 1.5rem); /* Tamanho da fonte responsivo */
}

.navigation a[href="index.html"] {
  text-decoration: none;
  color: #3B6E98;
}

/* Estilos para hover e active nos links da navegação */
.navigation a:hover,
.navigation a:active {
	color: white; /* Cor do texto ao passar o mouse */
	background-color: black; /* Cor de fundo ao passar o mouse */
}

/* Estilos para a barra de navegação */
nav {
	background-color: black; /* Cor de fundo */
	margin: 0 auto; /* Centraliza a barra de navegação */
	max-width: 800px; /* Largura máxima */
}

/* Estilos para a lista dentro da barra de navegação */
nav ul {
	list-style-type: none; /* Remove os marcadores de lista */
}

/* Estilos para os links dentro da barra de navegação */
nav a {
	display: block; /* Transforma os links em blocos */
	color: #fff; /* Cor do texto */
	text-align: center; /* Centraliza o texto */
	padding: 1rem; /* Espaçamento interno */
	text-decoration: none; /* Remove o sublinhado */
}

/* Estilos para hover nos links da barra de navegação */
nav a:hover {
	text-decoration: underline; /* Sublinhado ao passar o mouse */
	color: yellow; /* Cor do texto ao passar o mouse */
}

/* Estilos para o conteúdo principal */
main {
	max-width: 800px; /* Largura máxima */
	margin: 0 auto; /* Centraliza o conteúdo */
	padding: 20px; /* Espaçamento interno */
}

/* Estilos para os cartões */
.cards {
	display: flex; /* Usa flexbox para alinhar os cartões */
	flex-direction: row; /* Organiza os cartões em coluna */
  gap: 20px; /* Espaçamento entre os cartões */
  justify-content: space-between; /* Distribui o espaço entre os cartões */
}

/* Estilos para o título h1 */
h1 {
	font-weight: 500; /* Peso da fonte */
	margin-top: 20px; /* Margem superior */
}

/* Estilos para a classe .head */
.head {
	text-align: center; /* Centraliza o texto */
	padding-bottom: 20px; /* Espaçamento inferior */
	width: 100%; /* Largura total */
	margin: 0 auto; /* Centraliza o elemento */
}

/* Estilos para os cartões de atividades e informações */
.card-learning-activities {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%; /* Divide o espaço igualmente entre os cartões */
    margin-top: 10px;
}
.card-information {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%; /* Divide o espaço igualmente entre os cartões */
  margin-top: 10px;
}

.card-information img{
  width: 100%;
}

/* Estilos para o título h2 dentro dos cartões */
.cards h2 {
    color: #fff; /* Cor do texto */
    background-color: #3B6E98; /* Cor de fundo */
    padding: 15px; /* Aumenta o padding para preencher melhor */
    text-align: center; /* Centraliza o texto */
    margin: -20px -20px 20px -20px; /* Remove margens internas e alinha com as bordas do cartão */
    border-radius: 8px 8px 0 0; /* Arredonda apenas os cantos superiores */
    width: calc(100% + 40px); /* Compensa o padding do cartão */
}

/* Estilos para os itens da lista */
li {
	font-family: "Poppins", sans-serif; /* Define a fonte */
}


/* Estilos para os parágrafos dentro do cartão de informações */
.card-information p {
	text-align: center; /* Centraliza o texto */
	padding: 4px; /* Espaçamento interno */
	font-family: "Poppins", sans-serif; /* Define a fonte */
}

.main-card{
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Divide o espaço igualmente entre os cartões */
  margin-top: 20px;
}

/* Estilos para o título h2 dentro dos cartões */
.main-card h2 {
  color: #fff; /* Cor do texto */
  background-color: #3B6E98; /* Cor de fundo */
  padding: 15px; /* Aumenta o padding para preencher melhor */
  text-align: center; /* Centraliza o texto */
  margin: -20px -20px 20px -20px; /* Remove margens internas e alinha com as bordas do cartão */
  border-radius: 8px 8px 0 0; /* Arredonda apenas os cantos superiores */
  width: calc(100% + 40px); /* Compensa o padding do cartão */
}

.card {
  margin: 0 50px; /* Margem nas laterais */
  display: flex; /* Usa flexbox para alinhar os itens */
  justify-content: space-between; /* Distribui o espaço entre os itens */
  align-items: center; /* Centraliza os itens verticalmente */
  margin-bottom: 10px; /* Margem inferior */
  gap: 5px; /* Reduz o espaçamento entre os links */
}

.card a {
  background-color: black;
  text-decoration: none; /* Remove o sublinhado */
  color: white;
  width: 2%; /* Diminui a largura das caixas */
  text-align: center; /* Centraliza o texto */
  padding: 8px; /* Reduz o padding interno */
  border-radius: 5px; /* Bordas arredondadas */
  flex: 1; /* Ocupa o espaço disponível igualmente */
  margin: 0 2px; /* Espaçamento mínimo entre os links */
}

.card a:hover,
.card a:active {
  color: white; /* Cor do texto ao passar o mouse */
  background-color: #3B6E98; /* Cor de fundo ao passar o mouse */
}

/* Estilos para as linhas de cursos */
.course-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.course-row a {
  background-color: rgb(123, 60, 60);
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.course-row a.gray {
  background-color: gray;
}

.course-row a:hover,
.course-row a:active {
  background-color: #3B6E98;
}
/* Estilos para o rodapé */
footer {
	background-color: #3B6E98; /* Cor de fundo */
	display: flex; /* Usa flexbox para alinhar os itens */
	align-items: center; /* Centraliza os itens verticalmente */
	justify-content: center; /* Centraliza os itens horizontalmente */
	padding: 30px; /* Espaçamento interno */
	border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil */
	font-family: "Poppins", sans-serif; /* Define a fonte */
	font-weight: 700; /* Peso da fonte */
	font-size: 25px; /* Tamanho da fonte */
	flex-direction: column; /* Organiza os itens em coluna */
	color: white; /* Cor do texto */
}

